DISCORD_TOKEN=INSERISCI_TOKEN_BOT_DISCORD
DISCORD_CLIENT_ID=INSERISCI_CLIENT_ID_BOT_DISCORD
DISCORD_GUILD_ID=INSERISCI_ID_SERVER_DISCORD
VIP_ROLE_ID=1518270281028997170
VIP_LOG_CHANNEL_ID=1518278744719102104
VIP_STAFF_CHANNEL_ID=1514358694245306559
VIP_PANEL_CHANNEL_ID=1518278904475812020
DISCORD_INVITE_URL=https://discord.gg/INSERISCI_INVITO

TELEGRAM_BOT_TOKEN=INSERISCI_TOKEN_BOT_TELEGRAM
TELEGRAM_BOT_USERNAME=bordovipgaming_bot
TELEGRAM_CHANNEL_ID=-1003090079862
VIP_STARS_PRICE=50
VIP_DURATION_DAYS=30
DATABASE_PATH=./data/database.sqlite
